<nz-tabset style="padding-left:5px;">
    <nz-tab nzTitle="奶茶店">
        <div class="ui-g">
            <div *ngFor="let item of datas" class="ui-g-12 ui-md-3">
                <div class="title" [style.background-color]="item.color">
                    <span>{{item.title}}</span>
                </div>
                <div class="rank-list">
                    <li *ngFor="let i of item.items; let idx = index">
                        <span class="number" [ngClass]="{ active: idx < 3 }">{{idx + 1}}</span>
                        <span class="lt">{{i.shop_id }}</span>
                        <span class="value">{{i.score }}</span>
                    </li>
                </div>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="中式快餐">
        <div class="ui-g">
            <div *ngFor="let item of datas1" class="ui-g-12 ui-md-3">
                <div class="title" [style.background-color]="item.color">
                    <span>{{item.title}}</span>
                </div>
                <div class="rank-list">
                    <li *ngFor="let i of item.items; let idx = index">
                        <span class="number" [ngClass]="{ active: idx < 3 }">{{idx + 1}}</span>
                        <span class="lt">{{i.shop_id }}</span>
                        <span class="value">{{i.score }}</span>
                    </li>
                </div>
            </div>
        </div>
    </nz-tab>
</nz-tabset>