.app_component_header {
  background-color: white;
  margin: 0;
  color: gray;
  font-size: 16px;
  height: 25px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
