<div class="ui-g">
    <div class="ui-g-12 ui-md-6">
        <con-header [header]="'平均日交易额'"></con-header>
        <div class="back">
            <sk-top></sk-top>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6">
        <con-header [header]="'最受欢迎'"></con-header>
        <div class="back">
            <sk-like></sk-like>
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <con-header [header]="'留存分析'"></con-header>
        <div class="back">
            <spark-liucun></spark-liucun>
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12 ui-md-6">
        <con-header [header]="'用户浏览量'"></con-header>
        <div class="back">
            <spark-view></spark-view>
        </div>
    </div>
    <div class="ui-g-12 ui-md-6">
        <con-header [header]="'用户浏览量Top50'"></con-header>
        <div class="back">
            <spark-top50></spark-top50>
        </div>
    </div>
</div>