<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <div style="background:white;height:630px;width:100%;padding:10px;">
      <iframe width="100%" height="100%" src="assets/map/pmap.html" frameborder="no" marginwidth="0" marginheight="0"
        scrolling="no" allowtransparency="yes"></iframe>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <div class="ui-g-12">
      <div class="back">
        <app-shop-view></app-shop-view>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="back">
        <app-top-prod></app-top-prod>
      </div>
    </div>
  </div>
</div>